{% extends "base.html" %}

{% block body_container %}
<div class="row">
    <div class="span12 trans-block" style="min-height:500px;">
        <div style="padding:20px;">
            <div class="row">
                <div class="span12">
                    <h1>Registration Complete!</h1>
                </div>
                <div class="span10" style="margin-top: 20px;">
                    <h3>Activate through Email</h3>
                    <p style="padding-top:10px;">
                        We have sent an activation email to your account.
                        Please click on the link in the mail to activate your account.
                        It may take a few minutes for the email to appear in your inbox.
                    </p>
                    <p>In the meanwhile you can continue browsing through eVidyaLoka.
                        <a href="/">Home page</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body_container %}
