{% extends 'base.html' %}
{% block header %}
<li class=""><a  href="/" style="font-size:130%" title="Go to Home Page"><i class="icon-home icon-white"></i>Home</a></li>
<li class="active"><a style="display:block;font-size:130%" id="aliasExampleLink" class="ex1"  href="/learn" title="Learn to write codes in C"><i class="icon-pencil icon-white"></i>Learn C</a></li>
 <li class=""><a style="display:block;font-size:130%" id="aliasExampleLink" class="ex1"  href="/example" title="Check out the Sample C Codes"><i class="icon-th-list icon-white"></i>Example</a></li>
<li class="" style="margin-left:400px"><a href="/" style="font-size:130%" title="Know more about me!"><i class="icon-retweet icon-white"></i>Know More</a></li>
{% endblock %}

{% block content %}
<!--
<div class="container"><br/> </div>
<div id="pyInputPane">
<div class="alert alert-info">
 <p style="margin-top: 6px;"> <b> Write your C code here:</b></p></div>


   <div id="codeInputPane"></div>
<p style="margin-top: 10px; display:none;">
         Execute code using
     <select id="pythonVersionSelector">
         <option value="2">Python 2.7</option>
         <option value="3">Python 3.2</option>
       </select>
         and
       <select id="cumulativeModeSelector">
         <option value="false">don't display exited functions (default).</option>
         <option value="true">display frames of exited functions.</option>
              </select>
        </p>
        
        <p style="text-align: center; margin-top: 20px;">
              <button id="executeBtn" class="btn btn-large btn-primary" type="button">Visualize execution</button>
           </p>
        </div>
          <div id="pyOutputPane"></div>
-->

<iframe src="/learn" name="iframe_a"></iframe>
<iframe src="/" name="iframe_b"></iframe>
<p><a href="/#filename=learntest1.c" target="iframe_b" onclick="Parent.iframe_b.location.reload();" >hi</a></p>
<p><a href="/#filename=learntest2.c" target="iframe_b">bye</a></p>
<iframe src="/" style="border:0px #FFFFFF none;" name="myiFrame" scrolling="yes" frameborder="1" marginheight="0px" marginwidth="0px" height="200%" width="50%"></iframe>

<!--
<h1> BASIC </h1>
<hr/>

<ul class="thumbnails" style="margin-left:20px"> 
<li class="span4" style="background-color:peach">
<div class="thumbnail">
<h3>Get to know me!</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest1.c" title="Hello!Click me I'm waiting"> Hello World,I'm C </a>
<br/>
<span class="badge badge-info">2</span><a id="aliasExampleLink" href="/#filename=learntest2.c" title="Hello!Click me I'm waiting"> Knowing Escape Sequence</a>
<br/>
<span class="badge badge-info">3</span><a id="aliasExampleLink" href="/#filename=learntest3.c" title="Hello!Click me I'm waiting"> Variable and DataTypes</a>
<br/>
<span class="badge badge-info">4</span><a id="aliasExampleLink" href="/#filename=learntest4.c" title="Hello!Click me I'm waiting"> Operations by C</a>
<br/>
</div>
</li>

<li class="span4">
<div class="thumbnail">
<h3>Decisions and Looping</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest5.c" title="Hello!Click me I'm waiting"> Decision Making Business</a>
<br/>
 <span class="badge badge-info">2</span><a id="aliasExampleLink" href="/#filename=learntest6.c" title="Hello!Click me I'm waiting"> The for loop</a>
 <br/>
<span class="badge badge-info">3</span><a id="aliasExampleLink" href="/#filename=learntest7.c" title="Hello!Click me I'm waiting"> The while loop</a>
<br/>
<span class="badge badge-info">4</span><a id="aliasExampleLink" href="/#filename=learntest8.c" title="Hello!Click me I'm waiting"> The do-while loop</a>
<br/>
</div>
</li>

<li class="span5">
<div class="thumbnail">
<h3>Functions,Arrays and Pointers</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest9.c" title="Hello!Click me I'm waiting"> Writing your own function</a>
<br/>
<span class="badge badge-info">2</span><a id="aliasExampleLink" href="/#filename=learntest10.c" title="Hello!Click me I'm waiting"> Arrays</a>
<br/>
<span class="badge badge-info">3</span><a id="aliasExampleLink" href="/#filename=learntest11.c" title="Hello!Click me I'm waiting"> Pointers in C</a>
<br/>
<br/>
</div></li>
</ul>

<h1>INTERMEDIATE</h1>
<hr/>
<ul class="thumbnails" style="margin-left:20px">
<li class="span4">
<div class="thumbnail">
<h3>Structures and Unions</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest12.c" title="Hello!Click me I'm waiting"> The Structure</a>
<br/>
<span class="badge badge-info">2</span><a id="aliasExampleLink" href="/#filename=learntest13.c" title="Hello!Click me I'm waiting"> The Union</a>
<br/>
</div>
</li>

<li class="span5">
<div class="thumbnail">
<h3>Knowing Strings functions</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest14.c" title="Hello!Click me I'm waiting"> Strings</a>
<br/>
<br/>
</div>
</li>
<li class="span4">
<div class="thumbnail">
<h3>Bitwise operation</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest15.c" title="Hello!Click me I'm waiting"> Bitwise</a>
<br/>
<br/>
</div>
</li>
</ul>

<h1>The Other Stuffs</h1>
<hr/>
<ul class="thumbnails" style="margin-left:20px">
<li class="span5">
<div class="thumbnail">
<h3>Typedef,Type Casting & Error Handling</h3>
<span class="badge badge-info">1</span><a id="aliasExampleLink" href="/#filename=learntest16.c" title="Hello!Click me I'm waiting"> Typedef</a>
<br/>
<span class="badge badge-info">2</span><a id="aliasExampleLink" href="/#filename=learntest17.c" title="Hello!Click me I'm waiting"> Type Casting</a>
<br/>
<span class="badge badge-info">3</span><a id="aliasExampleLink" href="/#filename=learntest18.c" title="Hello!Click me I'm waiting"> Manual Error Handling</a>
<br/>
<span class="badge badge-info">4</span><a id="aliasExampleLink" href="/#filename=learntest19.c" title="Hello!Click me I'm waiting"> using errno.h</a>
</div>
</li>
</ul>
<br/>-->
{% endblock %}
